<?xml version="1.0" encoding="UTF-8"?>
 
<web-app>
<display-name>MVCinJSP</display-name>
<welcome-file-list>
	<welcome-file>index.html</welcome-file>
</welcome-file-list>


<servlet>
	<servlet-class>mvcjsptest.ControllerServlet</servlet-class>
	<servlet-name>s</servlet-name>
</servlet>

<servlet-mapping>
	<url-pattern>/ControllerServlet</url-pattern>
	<servlet-name>s</servlet-name>
</servlet-mapping>

</web-app>